/vendor/
/node_modules/
.env
.env.*
/storage/*.key
/public/storage
/storage/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/logs/*.log
/.idea/
/.vscode/
.DS_Store

